<h1 style="margin-left: 433px;">Inscription</h1>

<div class="row" id="signup"
  <div class="span6">
    <%= form_for(@user) do |f| %>
   
      <%= f.label :pseudo %>
      <%= f.text_field :pseudo %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :prenom %>
      <%= f.text_field :prenom %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :sexe %>
      <%= f.text_field :sexe%>
      
      <%= f.label :age %>
      <%= f.text_field :age %>

      <%= f.label :ville %>
      <%= f.text_field :ville %>

      <%= f.label :departement %>
      <%= f.text_field :departement %>

      <%= f.label :pays %>
      <%= f.text_field :pays %>


      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "envoyer", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>