





 
 <div id="admin_page" style= "margin-top:-4px;">
 	

 	<%= link_to(root_path) do %>
                 <%= image_tag("child32.png", alt: "Promo Image") %> 
				
            <% end %>	

<%= link_to(root_path) do %>
                 <%= image_tag("edit32.png", alt: "Promo Image") %> 
            <% end %>


<%= link_to(root_path) do %>
                 <%= image_tag("eyes64.png", alt: "Promo Image") %> 
            <% end %>

<%= link_to(root_path) do %>
                 <%= image_tag("healt32.png", alt: "Promo Image") %> 
            <% end %>
<%= link_to(root_path) do %>
                 <%= image_tag("event32.png", alt: "Promo Image") %> 
            <% end %>
<%= link_to(signout_path, method: "delete" ) do %>
                 <%= image_tag("off32.png", alt: "Promo Image") %> 
            <% end %>
         
      <strong> Bonjour <%= @user.pseudo %> </strong>    
 </div> 








<h1>Bonjour</h1>